@import "tailwindcss";

@font-face {
  font-family: "Copperplate Gothic 29 AB";
  src: url("/fonts/Copperplate-Gothic-Std-29-AB.ttf") format("truetype");
}
@font-face {
  font-family: "Copperplate Gothic 31 BC";
  src: url("/fonts/Copperplate-Gothic-Std-31-BC.woff2") format("woff2");
}
@font-face {
  font-family: "Copperplate Gothic 31 AB";
  src: url("/fonts/Copperplate-Gothic-Std-31-AB.woff2") format("woff2");
}
@font-face {
  font-family: "Copperplate Gothic 32 BC";
  src: url("/fonts/Copperplate-Gothic-Std-32-BC.ttf") format("truetype");
}
@font-face {
  font-family: "Copperplate Gothic 33 BC";
  src: url("/fonts/Copperplate-Gothic-Std-33-BC.ttf") format("truetype");
}

@font-face {
  font-family: "Safira March";
  src: url("/fonts/Safira-March.woff2") format("woff2");
}

@font-face {
  font-family: "Anonymous Pro Regular";
  src: url("/fonts/AnonymousPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Define Anonymous Pro Bold */
@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("/fonts/AnonymousPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Anonymous Pro Bold Italic";
  src: url("/fonts/AnonymousPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Anonymous Pro Italic";
  src: url("/fonts/AnonymousPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}
.font-copperplate-gothic-31-ab {
  font-family: "Copperplate Gothic 31 AB";
}
.font-safira-march {
  font-family: "Safira March";
}

.font-anonymous-regular {
  font-family: "Anonymous Pro Regular";
}

.font-anonymous-bold {
  font-family: "Anonymous Pro Bold";
}
.font-montserrat {
  font-family: "Montserrat Regular";
}
:root {
  --background: #edede9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edede9;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Copperplate Gothic 31 AB", "Safira March",
    "Anonymous Pro Regular", Helvetica, sans-serif;

  overflow-x: hidden;
}
/* HOME PAGE */
.header-title {
  font-size: 16px;
}
.home-welcome {
  font-size: 72px;
}
.home-hello {
  font-size: 40px;
}
/* global.css */
.bg-custom {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.bg-home {
  opacity: 0.5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-content {
  position: relative;
}

/* ABOUT PAGE */
.about-title {
  font-size: 100px;
}
.font-content {
  font-size: 15px;
}
.about-subtitle {
  font-size: 60px;
}

/* CONTACT PAGE */
.contact-title {
  font-size: 50px;
  font-weight: bold;
}

/* Animations */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation classes */
.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out forwards; /* 'forwards' maintains the final state */
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out forwards;
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

/* Animation lors du chargement des inputs (fadeInInput) */
@keyframes fadeInInput {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-animate {
  animation: fadeInInput 1s ease-out forwards;
}

/* Animation lors du focus des inputs */
@keyframes focusInput {
  0% {
    border-color: #d5bdaf;
    transform: scale(1);
  }
  100% {
    border-color: #c0a789;
    transform: scale(1.05);
  }
}

.input-focus:focus {
  animation: focusInput 0.3s ease-out forwards;
  outline: none;
}

/* Utilisation de l'animation fadeInUp sur le formulaire */
.form-animate {
  animation: fadeInUp 1s ease-out forwards;
}
